@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color: #f9fafb;
  background-color: #0f172a;
}

html.light {
  color: #374151;
  background-color: #ffffff;
}

 :root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

body {
  @media (min-width: 1280px) {
    height: 100vh;
  }
}
